<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DPlayer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DPlayer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <DPlayer.Settings>
      <setting name="SnoozeTime" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="AlarmTime" serializeAs="String">
        <value>06/13/2009 07:00:00</value>
      </setting>
      <setting name="AlarmVolumeStepUp" serializeAs="String">
        <value>10</value>
      </setting>
    </DPlayer.Settings>
    <DPlayer.Properties.Settings>
      <setting name="SnoozeTime" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="AlbumArtForeColor" serializeAs="String">
        <value>ButtonFace</value>
      </setting>
      <setting name="AlarmTime" serializeAs="String">
        <value>12/11/2006 14:30:00</value>
      </setting>
      <setting name="AlarmTrack" serializeAs="String">
        <value>E:\My Music\The Beatles\Sgt. Pepper's Lonely Hearts Club Band\11 Good Morning Good Morning.mp3</value>
      </setting>
      <setting name="AlarmVolumeStepUp" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SlideShowPath" serializeAs="String">
        <value>G:\DebbiePics</value>
      </setting>
      <setting name="SlideShowIntervalSeconds" serializeAs="String">
        <value>3</value>
      </setting>
    </DPlayer.Properties.Settings>
  </userSettings>
  <system.diagnostics>
    <switches>
      <add name="InfoSwitch" value="4" />
    </switches>
  </system.diagnostics>
  <applicationSettings>
    <DPlayer.Settings>
      <setting name="AlarmTrack" serializeAs="String">
        <value>E:\My Music\The Beatles\Sgt. Pepper's Lonely Hearts Club Band\11 Good Morning Good Morning.mp3</value>
      </setting>
    </DPlayer.Settings>
  </applicationSettings>
</configuration>