<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AlbumArtFixer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AlbumArtFixer.Properties.Settings>
            <setting name="AlbumArtImageQualityPerCent" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="SetAlbumArtSecurity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FullControlAccount" serializeAs="String">
                <value>Backup Operators</value>
            </setting>
            <setting name="ReadOnlyAccount" serializeAs="String">
                <value>Users</value>
            </setting>
            <setting name="SkipWelcomePage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateResizeAlbumArt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmbedAlbumArt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlbumArtFromLargestImage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlbumArtFromFile" serializeAs="String">
                <value />
            </setting>
            <setting name="AlbumArtMaxWidth" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="EmbedImageMaxWidth" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="EmbedFileName" serializeAs="String">
                <value>Folder.jpg</value>
            </setting>
            <setting name="EmbedImageType" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="EmbedImageDescription" serializeAs="String">
                <value>Scanned CD Cover</value>
            </setting>
            <setting name="EmbedDeleteImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmbedEnforceMaximumSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmbedDeleteAllImages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlbumArtMaxHeight" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="EmbedImageMaxHeight" serializeAs="String">
                <value>640</value>
            </setting>
        </AlbumArtFixer.Properties.Settings>
    </userSettings>
</configuration>